#root {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    .ant-layout.layout {
        height: 100%;
    }
    header {
        height: 50px;
        background-color: white;
        width: 100%;
        padding: 0 50px;
        line-height: 50px;
        // margin-bottom: 20px;
        box-shadow: 0 2px 8px #f0f1f2;
    }
    .job-status {
        &--running {
            animation: blink-animation 1s steps(5, start) infinite;
        }
    }

    .layout {
        h4 {
            font-size: 24px;
        }
        &__banner {
            height: calc(100vh ~"-" 50px);
            min-height: 400px;
            display: flex;
            overflow: hidden;
            > div {
                display: inline-flex;
                width: 100%;
                &:first-child {
                    img {
                        display: block;
                        margin: auto;
                    }
                }
                &:last-child {
                    text-align: center;
                    flex-direction: column;
                    justify-content: center;
                    h1 {
                        font-size: 28px;
                        font-weight: bold;
                        text-shadow: 1px 1px 2px #1890ff3b;
                        color: #1890ff;
                    }
                    p {
                        color: #b6b5b5;
                        font-size: 16px;
                    }
                }
            }
        }
        &__video {
            display: flex;
            padding: 60px 0 100px 0;
            flex-direction: column;
            justify-content: space-evenly;
            iframe {
                border: none;
                box-shadow: 0 0 8px 2px #1890ff24;
                border-radius: 3px;
            }
            > div {
                display: inline-flex;
                margin: auto;
                text-align: center;
                flex-direction: column;
            }
        }
        &__page {
            display: flex;
            padding: 80px 0;
            background: rgba(207, 227, 255, .2);
            background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(24,144,255,.1) 100%);
            justify-content: space-evenly;
            > div {
                padding: 20px;
                display: inline-flex;
                width: 20%;
                border-radius: 5px;
                // border: 1px rgba(0,0,0,.1) solid;
                // box-shadow: 0 4px 12px 0px rgba(0,0,0,.1);
                text-align: center;
                flex-direction: column;
                p {
                    font-size: 26px;
                    margin: 20px 0;
                    white-space: nowrap;
                }
                span {
                    font-size: 20px;
                    color: #b6b5b5;
                }
            }
        }
        &__footer {
            display: flex;
            text-align: center;
            flex-direction: column;
            padding: 40px 0;
            background: #000000e6;
            box-shadow: 0 0 7px 2px rgba(0,0,0,0.3);
            * {
                color: white;
                vertical-align: middle;
            }
            h4 {
                font-size: 16px;
            }
            span {
                font-size: 10px;
            }
            &__container {
                > * {
                    display: inline-flex;
                    margin: 0 10px 10px 10px;
                }
            }
            img {
                width: 130px;
            }
        }
    }
    .compare__chart-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        > div {
            display: inline-flex;
            height: 500px;
            width: 500px;
            // border: 1px solid gray;
            margin-bottom: 50px;
        }
    }
    .report-container {
        display: none;
    }
}

@media print {
    .no-print {
        display: none !important;
    }
    .report-container {
        display: block !important;
    }
    // .report-container,
    // .report-container * {
    //     display: block !important;
    // }
}

@keyframes blink-animation {
    50% {
        opacity: 0.0;
    }
}